@import url("../fonts/fonts.css");
@import url("./_toastification.css");
@import url("./_transitions.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer ui {
    .transition-300 {
        @apply transition-all duration-300;
    }
    .absolute-x {
        @apply absolute !-translate-x-1/2 !left-1/2;
    }

    .absolute-y {
        @apply absolute !-translate-y-1/2 !top-1/2;
    }

    .absolute-center {
        @apply absolute-x absolute-y;
    }

    .flex-y-center {
        @apply flex items-center;
    }

    .flex-x-center {
        @apply flex justify-center;
    }

    .flex-center {
        @apply flex justify-center items-center;
    }

    .flex-center-between {
        @apply flex justify-between items-center;
    }

    .flex-between {
        @apply flex justify-between;
    }
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    background: #f7faf8;
    transition: background-color 5000s ease-in-out 0s;
}

.flex-y-center{
    display: flex;
    align-items: center;
}
.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-center-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

* {
    box-sizing: border-box;
}

button {
    cursor: pointer;
}

p, span, a {
    line-height: 130% !important;
}






.static-text > p {
    margin-bottom: 20px !important;
}
.static-text p,
.static-text li {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
}
.static-text ol,
.static-text ul {
    padding-left: 16px;
}
.static-text ul li {
    list-style: disc;
    position: relative;
}
.static-text ol li {
    list-style: auto;
}
.static-text a{
    color: #16CC53;
}
.static-text a:hover{
    text-decoration: underline;
}
.static-text img {
    width: 100%;
    max-height: 438px;
    border-radius: 8px;
}
.static-text b {
    font-weight: 500;
}

.static-text h4, .static-text h1, .static-text h2, .static-text h3, .static-text h5, .static-text h6{
    color: #080A15;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    margin-bottom: 12px;
}
body {
    margin-right: -16px;
    overflow-x: hidden;
}
/*body::-webkit-scrollbar {*/
/*    position: fixed;*/
/*}*/